@media screen and (max-width: 905px) {
    .btn ss{
        display: block !important;
        hidden: false !important;
    }
}

.slidecontainer {
    width: 98%;
  }

.btn{
    text-decoration: none !important;
}

.btn ss{
    display: none !important;
    hidden: true !important;
}

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }
img{
  max-height: 121px;
}
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

input[type='checkbox']{
    filter: invert(75%) hue-rotate(60deg) brightness(1.3);
}
