.card {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex: 1;
    margin-bottom: 50px;
    width: 100%;
}

.btn{
    text-decoration: none;
}

textarea {
    resize: none;
}
.message{
    margin-left:20px;
}
.title {
    background-color: #66BB6A;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px;
}

.card-header {
    border: 1px solid #66BB6A;
    color: grey;
    width: 100%;
    height: 100%;
    max-width: 700px;
    background-color: white;
}

.back {
    margin-top: 15px;
    padding: 5px;
    font-size: 1.2em;
}

.back a {
    text-decoration: none;
    color: grey;
}

.back a:hover {
    text-decoration: none;
    background-color: lightgray;
}

form {
    margin-left: 11%;
}
