.news{
    background-color: white;
    margin-left:20%;
    width:60%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding:2.5%;
    font-size: 1.5em;
    border-radius:25px;
    text-decoration:none;
    word-break: break-all;

}

.news a{
    text-decoration:none;
}
