.wrapper{
    display: flex;
justify-content: space-evenly;
flex-direction: row;
flex: 1;
margin: 20px;   
font-size: 1.2em; 
}
.inbox a{
text-decoration: none;
}
.inbox {
    overflow-x:auto;
    background-color: white;
    width:100%;
    max-width: 1405px;
    border: 2px solid #66BB6A;
}

.message-link{
    color: grey;
}
tr:hover {
    background-color: #C4E9C7;
}

table#table1 th, td {
 
  text-align: left;
  border-bottom: 2px solid #66BB6A;
  
}
table {
width:100%;
border-collapse: collapse;
}
table#table1 th{
    background-color:#66BB6A;
    color: white;   
}
.profile-picture{
    
    
    height: 40px;
    width: 40px;
}
.inbox-menu{
  border: 2px solid #66BB6A;
  background-color: white;
  height: 100%;
}
.inbox-menu a{
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
.inbox-menu p:hover{
  background-color: grey;
  color: white;
}
.inbox-menu h4{
  background-color: #66BB6A;
  color: white;
}

.inbox-title{
  color: grey;
  margin-top:10px;
  text-align: center;
}
.search-form{
  text-align: center;
height: 30px;
}